<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iNUSurvey.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4AB96E7C1C3387E3000DDBF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4AB96E951C3387E3000DDBF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4AB96EA01C3387E3000DDBF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
